
  
  .barra-progreso-dia {
    height: 100%;
    transition: width 0.5s;
    position: relative;
  }
  .barra-progreso-dia::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -3px; 
    height: 40px;
    width: 1px; 
    background-color: black; 
    z-index: 1000;
   
  }

  
  
  /* BREAKS */
  .breackCo-España-Marketing{
    width: 2.08%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 33.33%;
    z-index: 100;
  }
  .breackCo-Argentina-Marketing{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:50%;
    z-index: 100;
  }
  .breackCo-Colombia-Marketing{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:58.33%;
    z-index: 100;
  }
  
  .breackCo-Chile-Marketing{
    width: 10.41%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:50%;
    z-index: 100;
  }
  
  .breackCo-México-Marketing{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:58.33%;
    z-index: 100;
  }
  .breackCo-España-Contable{
    width: 2.08%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 33.33%;
    z-index: 100;
  }
  .breackCo-Argentina-Contable{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:45.83%;
    z-index: 100;
  }
  
  .breackCo-Argentina-Rrhh{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:45.83%;
    z-index: 100;
  }
  
  .breackCo-España-Comercial{
    width: 12.5%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 33.33%;
    z-index: 100;
  }
  .breackCo-Colombia-Comercial{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 58.33%;
    z-index: 100;
  }
  .breackCo-Argentina-Comercial{
    width: 6.25%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:54.16%;
    z-index: 100;
  }
  
  .breackCo-Chile-Comercial{
    width: 6.41%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:62.33%;
    z-index: 100;
  }
  
  .breackCo-México-Comercial{
    width: 8%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:62.5%;
    z-index: 100;
  }
  .breackCo-España-Coordinacion{
    width: 10.41%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 33.33%;
    z-index: 100;
  }
  .breackCo-Argentina-Coordinacion{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:50%;
    z-index: 100;
  }
  
  .breackCo-Argentina-Comunicacion{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:50%;
    z-index: 100;
  }
  .breackCo-Colombia-Coordinacion{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:50%;
    z-index: 100;
  }
  
  /* BARRA DE JORNADA */
  #contenedor2Co-Colombia-Comunicacion{
    width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 29.16%;
   }
   #contenedor2Co-Argentina-Comunicacion{
    width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 29.16%;
   }
  
  
  

  #contenedor2Co-Colombia-Marketing{
    width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 33.33%;
   }
  #contenedor2Co-México-Marketing{
    width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 33.33%;
   }
   #contenedor2Co-Argentina-Marketing{
      width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 25%;
   }
   
   #contenedor2Co-España-Marketing{
      width: 35.158%;
     height: 10px;
     background-color:rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 12.5%
   }
   #contenedor2Co-Chile-Marketing{
      width: 43.75%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left:37.5%
   }
  
   #contenedor2Co-Argentina-Contable{
      width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 25%;
   }
   #contenedor2Co-Colombia-Contable{
    width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left:25%;
 }
   #contenedor2Co-España-Contable{
      width: 34.375%;
     height: 10px;
     background-color:rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 16.66%
   }

  
   #contenedor2Co-Argentina-Rrhh{
      width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 25%;
   }
   #contenedor2Co-Colombia-Rrhh{
    width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 25%;
  }
   #contenedor2Co-México-Comercial{
    width: 43.75%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 45.83%;
   }
   #contenedor2Co-Argentina-Comercial{
      width: 43.75%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left:33.33%
   }

 #contenedor2Co-Colombia-Comercial{
    width: 41.66%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left:41.66%
 }
   #contenedor2Co-España-Comercial{
      width: 44.79%;
     height: 10px;
     background-color:rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 16.66%
   }
   #contenedor2Co-Chile-Comercial{
      width: 43.75%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left:33.33%
   }
   #contenedor2Co-Argentina-Coordinacion{
    width:37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left:33.33%;
  }
  #contenedor2Co-España-Coordinacion{
    width:  42.7083%;
   height: 10px;
   background-color:rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 16.66%
  }
  #contenedor2Co-Colombia-Coordinacion{
    width:37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 33.33%;
  }
 