/* reloj.css */
.reloj {
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.reductor{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.paisInfo {
  width: 50%;
}
.barra-progreso {
  height: 100%;
  transition: width 0.5s;
  position: relative;
}


.barra-progreso-dia {
  height: 100%;
  transition: width 0.5s;
  position: relative;
}
.barra-progreso-dia::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -3px; 
  height: 40px;
  width: 1px; 
  background-color: black; 
  z-index: 1000;
  /* content: "";
  position: absolute;
  top: -6px;
  right: -5px; 
  height: 20px;
  width: 20px;
  background-image: url("../../assets/solo-icono.gif");
  background-size: cover; 
  z-index: 1000; */
}
.infoContainer{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedorBarra{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}



.contenedor-completo{
  display: flex;
  flex-direction: column;
}



.regla {
  display: flex;
  width: 102%;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top:  15px;
  left: -8px;
  z-index: 100;
  font-size: 14px;
}

.regla div {
  flex: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative; /* Añade esta línea */
  font-size: 14px;
}

.regla div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Ajusta la posición del palito */
  transform: translateX(-50%);
  width: 1px;
  height: 3px;
  background-color: black; /* Color del palito */
  font-size: 8px;
}

.nombreyhora{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
  
  ;
}

.nombrePais{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nombrePais h5{
margin-bottom: 10px;
background-color: #643B9F;
padding: 2px 15px;
border-radius: 15px;
color: white;
}

.contenedor-reloj{

 width:auto;
}
.svg-reloj{
  width: 40px;
  height: 40px;
background-color: black;
border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  
}
.contenedor-segundero{
  width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contenedor-reloj-superior{
  display: flex;
  width: 100%;
  justify-content: center;
}



/* BREAKS */
.breack-Argentina-Comunicacion{
  width: 4.16%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:58.33%;
  z-index: 100;
}
.breack-España-Marketing{
  width: 2.08%;
  height: 10px;
  background-color: #3be780;
  position: absolute;
  left: 41.666%;
  z-index: 100;
}
.breack-Argentina-Marketing{
  width: 4.16%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:58.33%;
  z-index: 100;
}
.breack-Colombia-Marketing{
  width: 4.16%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:66.66%;
  z-index: 100;
}

.breack-Chile-Marketing{
  width: 10.41%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:58.33%;
  z-index: 100;
}

.breack-México-Marketing{
  width: 4.16%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:66.66%;
  z-index: 100;
}
.breack-España-Contable{
  width: 2.08%;
  height: 10px;
  background-color: #3be780;
  position: absolute;
  left: 41.66%;
  z-index: 100;
}
.breack-Argentina-Contable{
  width: 4.16%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:54.08%;
  z-index: 100;
}

.breack-Argentina-Rrhh{
  width: 4.16%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:54.08%;
  z-index: 100;
}

.breack-España-Comercial{
  width: 12.5%;
  height: 10px;
  background-color: #3be780;
  position: absolute;
  left: 41.666%;
  z-index: 100;
}
.breack-Argentina-Comercial{
  width: 6.25%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:62.5%;
  z-index: 100;
}
.breack-Colombia-Comercial{
  width: 4%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:75%;
  z-index: 100;
}

.breack-Chile-Comercial{
  width: 6.41%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:62.33%;
  z-index: 100;
}

.breack-México-Comercial{
  width: 6.25%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:72%;
  z-index: 100;
}
.breack-España-Coordinacion{
  width: 10.41%;
  height: 10px;
  background-color: #3be780;
  position: absolute;
  left: 41.666%;
  z-index: 100;
}
.breack-Argentina-Coordinacion{
  width: 4.16%;
  height: 10px;
  background-color: #3be780;;
  position: absolute;
  left:58.33%;
  z-index: 100;
}

/* BARRA DE JORNADA */

#contenedor2-Argentina-Comunicacion{
  width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left:37.5%;
 }

#contenedor2-México-Marketing{
 width: 37.5%;
  height: 10px;
  background-color: #a982c481;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  left:41.66%;
}
#contenedor2-Argentina-Marketing{
   width: 37.5%;
  height: 10px;
  background-color: rgba(169, 130, 196, 0.507);
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  left: 33.33333%;
}
#contenedor2-Colombia-Marketing{
  width: 37.5%;
 height: 10px;
 background-color: rgba(169, 130, 196, 0.507);
 border: 1px solid #ccc;
 border-radius: 4px;
 overflow: hidden;
 position: absolute;
 left: 41.66%;
}
#contenedor2-España-Marketing{
   width: 35%;
  height: 10px;
  background-color:rgba(169, 130, 196, 0.507);
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  left: 20.83%
}
#contenedor2-Chile-Marketing{
   width: 43.75%;
  height: 10px;
  background-color: rgba(169, 130, 196, 0.507);
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  left:45.83%
}

 #contenedor2-Argentina-Contable{
    width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 33.33333%;
 }
 #contenedor2-España-Contable{
    width: 34.375%;
   height: 10px;
   background-color:rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 25%
 }

 #contenedor2-Argentina-Rrhh{
    width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 33.33333%;
 }
 #contenedor2-España-Rrhh{
  width: 37.5%;
 height: 10px;
 background-color: rgba(169, 130, 196, 0.507);
 border: 1px solid #ccc;
 border-radius: 4px;
 overflow: hidden;
 position: absolute;
 left: 33.33%;
}
 #contenedor2-México-Comercial{
  width: 41%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 54.16%;
 }
 #contenedor2-Argentina-Comercial{
    width: 43.75%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left:41.6666%
 }
 #contenedor2-Colombia-Comercial{
  width: 41%;
 height: 10px;
 background-color: rgba(169, 130, 196, 0.507);
 border: 1px solid #ccc;
 border-radius: 4px;
 overflow: hidden;
 position: absolute;
 left:58.33%
}
 #contenedor2-España-Comercial{
    width: 44.79%;
   height: 10px;
   background-color:rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 25%
 }
 #contenedor2-Chile-Comercial{
    width: 43.75%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left:41.6666%
 }
 #contenedor2-Argentina-Coordinacion{
  width:37.5%;
 height: 10px;
 background-color: rgba(169, 130, 196, 0.507);
 border: 1px solid #ccc;
 border-radius: 4px;
 overflow: hidden;
 position: absolute;
 left: 41.66%;
}
#contenedor2-España-Coordinacion{
  width:  42.7083%;
 height: 10px;
 background-color:rgba(169, 130, 196, 0.507);
 border: 1px solid #ccc;
 border-radius: 4px;
 overflow: hidden;
 position: absolute;
 left: 25%
}
.jornada-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .reloj {
    margin: 20px;
    padding: 20px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 150px;
  }
  
  .reductor{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .paisInfo {
    width: 50%;
  }
  .contenedorBarra{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 25px;

}
.infoContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-completo{
  display: flex;
  flex-direction: column;
}



.regla {
  display: flex;
  width: 102%;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top:  -10px;
  left: -8px;
  z-index: 100;
  font-size: 9.2px;
}

.regla div {
  flex: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative; /* Añade esta línea */
  font-size: 9.2px;
}

.regla div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Ajusta la posición del palito */
  transform: translateX(-50%);
  width: 1px;
  height: 3px;
  background-color: black; /* Color del palito */
}

.nombreyhora{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
  
  ;
}

.nombrePais{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nombrePais h5{
margin-top: 10px;
background-color: #643B9F;
padding: 2px 15px;
border-radius: 15px;
color: white;
margin-right: 10px;
}

.contenedor-reloj{

 width:auto;
}
.svg-reloj{
  width: 20px;
  height: 20px;
background-color: black;
border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  
}
.contenedor-segundero{
  width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contenedor-reloj-superior{
  display: flex;
  width: 100%;
  justify-content: center;
}

.jornada-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
    .contenedorBarra{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}
}

@media (max-width: 500px) {
  .reloj {
    margin: 20px;
    padding: 20px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 150px;
  }
  
  .reductor{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .paisInfo {
    width: 50%;
  }
  .contenedorBarra{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 25px;

}
.infoContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-completo{
  display: flex;
  flex-direction: column;
}



.regla {
  display: flex;
  width: 102%;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top:  -10px;
  left: -8px;
  z-index: 100;
  font-size: 9.2px;
}

.regla div {
  flex: 1;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative; /* Añade esta línea */
  font-size: 9.2px;
}

.regla div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Ajusta la posición del palito */
  transform: translateX(-50%);
  width: 1px;
  height: 3px;
  background-color: black; /* Color del palito */
}

.nombreyhora{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
  
  ;
}

.nombrePais{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nombrePais h5{
margin-top: 10px;
background-color: #643B9F;
padding: 2px 15px;
border-radius: 15px;
color: white;
margin-right: 10px;
font-size: 10px;
}

.contenedor-reloj{

 width:auto;
}
.svg-reloj{
display: none;
  
}
.contenedor-segundero{
  width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contenedor-reloj-superior{
  display: flex;
  width: 100%;
  justify-content: center;
}

.jornada-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
    .contenedorBarra{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}
.titulo{
  font-size: 20px;
}

}