
  
  .barra-progreso-diam {
    height: 100%;
    transition: width 0.5s;
    position: relative;
  }
  .barra-progreso-diam::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 2px; 
    height: 40px;
    width: 1px; 
    background-color: black; 
    z-index: 1000;
  }

  /* BREAKS */
  .breackm-España-Marketing{
    width: 2.08%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 29.16%;
    z-index: 100;
  }
  .breackm-Argentina-Marketing{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:45.83%;
    z-index: 100;
  }
  .breackm-Colombia-Marketing{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:54.16%;
    z-index: 100;
  }
  
  .breackm-Chile-Marketing{
    width: 10.41%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:45.83%;
    z-index: 100;
  }
  
  .breackm-México-Marketing{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:54.166%;
    z-index: 100;
  }
  .breackm-España-Contable{
    width: 2.08%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 29.16%;
    z-index: 100;
  }
  .breackm-Argentina-Contable{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:41.66%;
    z-index: 100;
  }
  
  .breackm-Argentina-Rrhh{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:41.66%;
    z-index: 100;
  }
  
  .breackm-España-Comercial{
    width: 12.5%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 29.166%;
    z-index: 100;
  }
  .breackm-Argentina-Comercial{
    width: 6.25%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:50%;
    z-index: 100;
  }
  .breackm-Colombia-Comercial{
    width: 4%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:37.5%;
    z-index: 100;
  }
  
  .breackm-Chile-Comercial{
    width: 6.41%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:62.33%;
    z-index: 100;
  }
  
  .breackm-México-Comercial{
    width: 7.2%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:58.33%;
    z-index: 100;
  }
  .breackm-España-Coordinacion{
    width: 10.41%;
    height: 10px;
    background-color: #3be780;
    position: absolute;
    left: 29.16%;
    z-index: 100;
  }
  .breackm-Argentina-Coordinacion{
    width: 4%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:45.83%;
    z-index: 100;
  }
  .breackm-Argentina-Comunicacion{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:45.83%;
    z-index: 100;
  }
  .breackm-México-Gestion{
    width: 4.16%;
    height: 10px;
    background-color: #3be780;;
    position: absolute;
    left:45.83%;
    z-index: 100;
  }
  
  /* BARRA DE JORNADA */
  #contenedor2m-México-Comunicacion{
    width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 25%;
   }
   #contenedor2m-Argentina-Comunicacion{
    width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 25%;
   }
  
  
  #contenedor2m-México-Marketing{
   width: 37.5%;
    height: 10px;
    background-color: rgba(169, 130, 196, 0.507);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 29.16%;
  }
  #contenedor2m-Argentina-Marketing{
     width: 37.5%;
    height: 10px;
    background-color: rgba(169, 130, 196, 0.507);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 20.83%;
  }
  #contenedor2m-Colombia-Marketing{
    width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 25%;
 }
  #contenedor2m-España-Marketing{
     width:34.375%;
    height: 10px;
    background-color:rgba(169, 130, 196, 0.507);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 8.33%
  }
  #contenedor2m-Chile-Marketing{
     width: 43.75%;
    height: 10px;
    background-color: rgba(169, 130, 196, 0.507);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left:33.33%
  }
  
   #contenedor2m-Argentina-Contable{
      width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left:20.83%;
   }
   
   #contenedor2m-España-Contable{
      width: 34.375%;
     height: 10px;
     background-color:rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 12.5%
   }
   #contenedor2m-México-Contable{
    width: 37.5%;
    height: 10px;
    background-color: rgba(169, 130, 196, 0.507);
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left:20.83%;
 }
  
   #contenedor2m-Argentina-Rrhh{
      width: 37.5%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 20.83%;
   }
   #contenedor2m-México-Rrhh{
    width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 20.83%;
 }
   #contenedor2m-España-Rrhh{
    width: 37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 50%;
 }
   #contenedor2m-México-Comercial{
    width: 43.75%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 41.66%;
   }
   #contenedor2m-Argentina-Comercial{
      width: 43.75%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left:29.16%
   }
   #contenedor2m-Colombia-Comercial{
    width: 42%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left:20.83%
 }
   #contenedor2m-España-Comercial{
      width: 43.79%;
     height: 10px;
     background-color:rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left: 12.5%
   }
   #contenedor2m-Chile-Comercial{
      width: 43.75%;
     height: 10px;
     background-color: rgba(169, 130, 196, 0.507);
     border: 1px solid #ccc;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     left:29.16%
   }
   #contenedor2m-Argentina-Coordinacion{
    width:37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 29.16%;
  }
  #contenedor2m-México-Coordinacion{
    width:37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 29.16%;
  }
  #contenedor2m-México-Gestion{
    width:37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 29.16%;
  }
  #contenedor2m-México-Coordinacion{
    width:37.5%;
   height: 10px;
   background-color: rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 29.16%;
  }
  #contenedor2m-España-Coordinacion{
    width:  42.7083%;
   height: 10px;
   background-color:rgba(169, 130, 196, 0.507);
   border: 1px solid #ccc;
   border-radius: 4px;
   overflow: hidden;
   position: absolute;
   left: 12.5%
  }
