@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mundo";
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  /* Ajusta la ruta al archivo de tu fuente */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "mundo", sans-serif;
}
body {
  background: #111827;
}
